server {
    listen 80;
    listen [::]:80;
    index index.html;
    server_name {{ front_domain_name }};
    return 301 https://$server_name$request_uri;

    ## Reject HTTP METHOD LIKE DELETE AND TRACE. NOT NECESSARY.
    if ($request_method !~ ^(GET|HEAD|POST)$ )
    {
    return 405;
    }
}

server {
    # SSL configuration
    ssl on;
    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    {% if front_letsencrypt_enabled %}
    ssl_certificate /etc/letsencrypt/live/{{ front_domain_name }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ front_domain_name }}/privkey.pem; # managed by Certbot
    ssl_trusted_certificate /etc/letsencrypt/live/{{ front_domain_name }}/fullchain.pem;
    {% endif %}

    {% if front_self_signed_enabled %}
    ssl_certificate {{ front_nginx_slf_signed_crt }};
    ssl_certificate_key {{ front_nginx_slf_signed_key }};
    {% endif %}

    location / {
        root /var/www/parc-car;
        try_files $uri $uri/ /index.html;
        proxy_http_version  1.1;
    }

    location /api {
        proxy_pass http://127.0.0.1:8080;
    }

    error_log /var/log/nginx/{{ front_name }}_error.log;
    access_log /var/log/nginx/{{ front_name }}_access.log;

    client_max_body_size 20M;
}
