server:
  port: 8080
  tomcat:
    max-http-form-post-size: 20MB
    accesslog:
      enabled: true
      directory: {{ logging_file_path }}
      file-date-format: .yyyy-MM-dd
      pattern: common
      prefix: localhost_access_log
      rename-on-rotate: false
      request-attributes-enabled: false
      rotate: true
      suffix: .log
logging:
  level:
    com:
      syscom: INFO
    org:
      hibernate: WARN
      springframework: WARN
      apache:
        tomcat: INFO
        catalina: INFO
  file:
    path: {{ logging_file_path }}
logstash:
  host: {{ logstash_host }}
  port: {{ logstash_port }}
  enabled: {{ logstash_enabled }}
spring:
  profiles:
    active: {{ env }}
  jackson:
    serialization:
      write-dates-as-timestamps: false
    # cette ligne permet d'exclure la configuration de sécurité par défaut de Springboot. Ainsi, on redéfinira la configuration selon notre convenance.
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
  application:
    name: ms-parc-car
  jpa:
    database: postgresql
    show-sql: false
    properties:
      hibernate:
        jdbc:
          batch_size: 100
          order_inserts: true
          lob:
            non_contextual_creation: true
        enable_lazy_load_no_trans: true
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  datasource:
    platform: postgres
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.p6spy.engine.spy.P6SpyDriver
    url: jdbc:p6spy:postgresql://localhost:5432/ms_parc_car
    username: ms_parc_car
    password: ms_parc_car
  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 20MB
  mail:
    default-encoding: UTF-8
    protocol: smtp
    host: smtp.gmail.com
    username: noreply.parc.car@gmail.com
    password: n4F3mZEb7
    port: 587
    properties:
      mail:
        smtp:
          ssl:
            trust: smtp.gmail.com
          auth: true
          starttls:
            enable: true
token:
  jwt:
    duration: 60
    secret: 4pE8z3PBoHjnV1AhvGk+e8h2p+ShZpOnpr8cwHmMh1w=
stored:
  file:
    pictures: {{ stored_file_pictures }}
    excel:
      input:
        directory: {{ stored_file_excel_input_directory }}
aws:
  sms:
    enabled: true
  default:
    access:
      key: AKIAJL3SRJZNO4D54ZPA
    secret:
      key: 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
    sender:
      id: ParcCar
  topic:
    arn: arn:aws:sns:eu-west-3:021475176154:eric-legba-topic
fixedRate:
  in:
    milliseconds:300000
management:
  endpoints:
    web:
      exposure:
        include: "*"
