[Unit]
Description={{ api_name }}
After=syslog.target

[Service]
User={{ api_user }}
ExecStart=/usr/bin/java -jar  {{ api_jar_directory }}/{{ api_jar_name }} --spring.config.location={{ api_conf_directory }}/
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
