server {
    listen 80;
    listen [::]:80;
    server_name {{ api_domain_name }};
    # return 301 https://$server_name$request_uri;
    # Reject HTTP METHOD LIKE DELETE AND TRACE. NOT NECESSARY.
    if ($request_method !~ ^(GET|HEAD|POST)$ )
    {
        return 405;
    }

    location / {
        proxy_pass http://127.0.0.1:8080;
    }

    error_log /var/log/nginx/{{ api_domain_name }}_error.log;
    access_log /var/log/nginx/{{ api_domain_name }}_access.log;

    client_max_body_size 20M;
}

# server {
#     # SSL configuration
#     ssl on;
#     #listen [::]:443 ssl ipv6only=on; # managed by Certbot
#     {% if api_letsencrypt_enabled %}
#     ssl_certificate /etc/letsencrypt/live/{{ api_domain_name }}/fullchain.pem; # managed by Certbot
#     ssl_certificate_key /etc/letsencrypt/live/{{ api_domain_name }}/privkey.pem; # managed by Certbot
#     ssl_trusted_certificate /etc/letsencrypt/live/{{ api_domain_name }}/fullchain.pem;
#     {% endif %}
#
#     {% if api_self_signed_enabled %}
#     ssl_certificate {{ front_nginx_slf_signed_crt }};
#     ssl_certificate_key {{ front_nginx_slf_signed_key }};
#     {% endif %}
#
#     root {{ api_main_directory }};
#
#     location / {
#         proxy_pass http://127.0.0.1:8080;
#     }
#
#     error_log /var/log/nginx/{{ api_domain_name }}_error.log;
#     access_log /var/log/nginx/{{ api_domain_name }}_access.log;
#
#     client_max_body_size 20M;
# }
