[Unit]
Description=ELK service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory={{ elk_directory }}
ExecStart=docker-compose up -d
ExecStop=docker-compose stop

[Install]
WantedBy=multi-user.target
